/****************************

        Common style

****************************/


body {
    background-color: #0A090A;
    
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 19px;

    background-image: url("../img/main-bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/****************************

        Header

****************************/

.main-header {
    padding-top: 45px;
    margin-bottom: 20%;
}

.container {
    max-width: 1140px;

    margin: auto;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    margin-right: 50px;
}

.search {
    display: flex;
    flex-grow: 0.8;

    align-items: center;
}

.search-input {
    background-color: rgba(196, 196, 196, 0.5);
    border: none;

    padding: 15px 12px;

    font-family: inherit;
    font-size: 14px;
    line-height: 16px;
    color: #AEAEAE;
    
    border-radius: 5px;

    flex-grow: 1;
}

.button-search {
    background-color: inherit;
    
    border: none;
}

.button-search img {
    width: 20px;
    height: 20px;
}

.user-action {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.bookmark {
    background-color: inherit;
    
    border: none;
}

.bookmark img {
    width: 12px;
    height: 16px;
}

.user-photo {
    width: 40px;
    height: 40px;

    border-radius: 50%;
    object-fit: cover;
}

/****************************

        Main

****************************/

.info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 100px;
}

.movie-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.title {
    margin: 0;
    margin-bottom: 7px;

    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
}

.title-en {
    display: inline-block;

    font-size: 20px;
    line-height: 23px;
    color: #787878;

    margin: 0;
    margin-bottom: 38px;
}

.tag {
    display: inline-block;

    font-size: 16px;
    line-height: 19px;
    color: #333333;

    background-color: #ffffff;

    border-radius: 3px;

    padding: 5px 10px;
    margin-right: 20px;
}

.country {
    font-size: 16px;
    line-height: 19px;

    margin-right: 33px;
}

.play-trailer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    font-size: 16px;
    line-height: 19px;
    color: #ffffff;

    text-transform: none;
}

.play-trailer::before {
    content: "";

    width: 30px;
    height: 30px;

    background-image: url("../img/play.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    margin-right: 15px;
}

.more {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    font-size: 16px;
    line-height: 19px;
    color: #ffffff;

    text-transform: none;
}

.more::after {
    content: "";

    width: 30px;
    height: 30px;

    background-image: url("../img/play.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    
    margin-left: 15px;

    transform: rotate(90deg);
}

.full-content {
    display: flex;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 3% 4%;

    background-color: #FFFFFF;
    
    border-radius: 3px;

    color: #000000;
}

.content-item {
    display: none;
}

.short-info {
    max-width: 185px;

    display: flex;
    flex-direction: column;

    margin-right: 3%;
}

.poster {
    display: block;

    margin-top: -40%;
    margin-bottom: 20px;
}

.button {
    padding: 10px 44px;

    background: #FF8F27;
    
    color: #ffffff;
    font-size: 14px;
    line-height: 16px;

    border: none;
}

.actors-title {
    font-weight: bold;

    padding-left: 15px;
    margin-bottom: 10px;
}

.actors-list {
    list-style: none;

    padding: 15px;
    margin: 0;

    text-decoration: underline;
}

.actors-list-item {
    line-height: 150%;
}

.full-info {
    flex: 0.97;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    margin-bottom: 4%;
}

.menu-item {
    color: #000000;
    text-decoration: none;

    margin-right: 4%;

    font-size: 18px;
    line-height: 21px;
}

.menu-item:last-child {
    margin-right: 0;
}

.menu-item-active {
    color: #FF8F27;
}

.content-item {
    margin-right: 70px;
}

.text {
    margin: 0;
    margin-bottom: 30px;
}

.text-title {
    font-weight: bold;

    display: inline-block;
    margin-bottom: 20px;
}

.subscribe-title {
    font-weight: bold;

    display: inline-block;

    margin: 0;
    margin-bottom: 14px;
}

.subscribe-form {
    display: flex;
    
    margin-bottom: 48px;
}

.subscribe-input {
    background-color: rgba(196, 196, 196, 0.5);
    border: none;

    padding: 15px 12px;

    font-family: inherit;
    font-size: 14px;
    line-height: 16px;
    color: #AEAEAE;

    flex-grow: 1;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.subscribe-button {
    border: none;

    padding: 12px;

    background: #FF8F27;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/****************************

        JavaScript

****************************/

.visible {
    display: block;
}

/****************************

        Media

****************************/

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .menu-item {
        font-size: 16px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 740px;
    }
    .menu-item {
        flex-basis: 20%;
        line-height: 2;
    }
    .full-content {
        flex-wrap: wrap;
    }
    .text {
        font-size: 14px;
    }
    .actors-list {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 650px;
    }
    .more{
        display: none;
    }
    .menu-item {
        flex-basis: 33%;
    }
    .content-item {
        margin: 0;
    }
}

@media (max-width: 578px) {
    .container {
        max-width: 90%;
    }
    .search {
        flex-basis: 100%;
        order: 3;
        margin-top: 5%;
    }
    .actors-list, .actors-title {
        display: none;
    }
    .short-info {
        margin-bottom: 5%;
        margin-right: 0;

        display: block;
        max-width: 100%;
    }
    .play-trailer {
        flex-basis: 100%;
        margin-top: 10%;
    }
    .button {
        width: 100%;
    }

    .poster {
        margin-top: -20%;
        display: inline-block;
        
        width: 100%;
    }
}